//
// Switcher/Dropdown
// --------------------------------------------------

.unit-switcher-switch {
	display: inline-block;
	position: relative;
	z-index: 1;
	a {
		border: 0 !important;
	}
	a:active, a:focus {
		outline: none;
	}
	ul {
		display: none;
		@include unstyled;
		position: absolute;
		z-index: 2;
		background-color: $white;
		border: 1px solid darken($white, 8%);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,.2);
		border-radius: 3px;
		min-width: 150px;
		li {
			border-top: 1px solid darken($white, 10%);
			&:first-child{
				border: 0;
			}
		}
		li a {
			display: block;
			padding: 4px 15px;
		}
	}
	&.open ul {
		display: block;
	}
	&.open .unit-switcher-caret {
		background: url('../images/caret-up.png') no-repeat;
	}
}

// Caret
.unit-switcher-caret {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url('../images/caret.png') no-repeat;
	margin-left: 8px;
	&.open {
		background: url('../images/caret-up.png') no-repeat;
	}
}